body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f3f3;	
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 40px;
  letter-spacing: 2px;
  width: 20%;
  padding: 0.4rem;
}

.form__filter {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin: 20px 0px;
  letter-spacing: 2px;
  width: 25%;
  padding: 0.4rem;
}

/*.form__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}*/

.list-item {
  list-style: square inside;
}

#list-items {
  width: 40%;
  padding-top: 20px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2c3e50;
  height: 90px;
  padding: 30px;
  color: white;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Londrina Shadow';
}

.task-completed {
  color: red;
}